.card{
  text-align: center;
}
.card img{
  width:200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;

}
.card :hover{
  transition: 0.3s ease;
  transform: scale(1.2);
}
.card .title{
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
  max-width: 100ch;
}
.card .btn{
  margin : 10px;
}

