<div class="container">
  <div class="row">
    <ng-container *ngFor="let img of imgList;let indx = index">
      <div class=" card col-lg-3 col-md-4 col-sm-6">
        <img src="{{img.thumbnailUrl}}">
        <h5 class="title">{{img.title}}</h5>
        <p class="id">
          {{img.id}}
        </p>
        <p>${{img.url}}</p>
        <button class="btn btn-primary" (click)="addImage(img.id,indx)" >{{img.txt}}</button>
      </div>
     </ng-container>
    <ng-container *ngIf="tab" >
      <table class="table table-striped text-center table-responsive-md table-responsive-sm" style="margin-top: 70px">
        <thead>
          <tr><th colspan="5" class="justify-content-center">COMPARISON TABLE</th>
          </tr>
          <th>Image</th>
          <th>ID</th>
          <th>Title</th>
          <th>URL</th>
          <th>thumbnail</th>

        </thead>
        <tbody>
          <tr *ngFor="let img of compareList">
            <td>
              <img src="{{img.thumbnailUrl}}">
            </td>
            <td>{{img.id}}</td>
            <td>{{img.title}}</td>
            <td>{{img.url}}</td>
            <td>{{img.thumbnailUrl}}</td>


          </tr>
        </tbody>
      </table>

    </ng-container>
  </div>
</div>
